<%-include('./includes/head',{pageTitle:'An error occurred'})%>
 <link rel="stylesheet" href="../../../styles/base.css">
</head>
<body>
    <%-include('./includes/header')%>
    <main class="error-page">
        <h1>Not Authorized!</h1>
        <p>YOU ARE NOT AUTHORIZED TO VISIT THIS PAGE</p>
        <p><a class="btn"  href="/">Back to safety!</a></p>
        
    </main>
</body>
</html>