<%-include('./includes/head',{pageTitle:'An error occurred'})%>
</head>
<body>
    <%-include('./includes/header')%>
    <main class="error-page">
        <h1>Page Not Found!</h1>
        <p>Unfortunately, we could not find thie page.</p>
        <p><a class="btn"  href="/">Back to safety!</a></p>
        
    </main>
</body>
</html>