<header class="nav-header">
    <div class="main_header">
        <div class="logo"><a href="/">WDE</a></div>
        <nav>
            <%-include('nav-items') %>
        </nav>
        <button id="mobile-menu-btn">
           <span></span>
           <span></span>
           <span></span>
        </button>
    </div>
    
</header>
<aside id="mobile-menu">
    <nav>
        <%-include('nav-items') %>
    </nav>
</aside>