<ul>
    <% if(!locals.isAdmin){ %>
        <li><a href="/">Shop</a></li>
        <li><a href="/cart">Cart <span class="badge"><%=locals.cart.totalQuantity %></span></a></li>
    <%}%>
    <% if(locals.isAuth && !locals.isAdmin){ %>
        <li><a href="/orders">Orders</a></li>
    <%}%>  

    <% if(locals.isAdmin){ %>
        <li><a href="/admins/products">Manage Product</a></li>
        <li><a href="/admins/orders">Manage Orders</a></li>
    <%}%>
            
    <% if(!locals.isAuth){ %>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/login">Login</a></li>
    <%}%>    
    <% if(locals.isAuth){%>
        <li>
            <form action="/logout" method="POST">
                <button id="logout-btn">Logout</button>
            </form>
        </li>
    <%}%>
</ul>